body {
  background-color: #f9ecec;
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}

.weather-app-wrapper {
  max-width: 700px;
  margin: 100px auto;
}
.weather-app {
  border: 5px solid #c8d9eb;
  padding: 30px;
  background-color: white;
}
.search-element {
  background-color: #f9ecec;
}
.current-location-element {
  background-color: #f9ecec;
}
.current-location-element:hover {
  border: 2px solid #c8d9eb;
  transition: 0.2s ease-in-out;
}
.location-time {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  text-align: center;
}
.city {
  font-size: 50px;
  font-weight: 800;
}
.state {
  font-style: italic;
  font-weight: 500;
}

.current-time {
  font-weight: bold;
}

.current-temp {
  font-size: 50px;
}
.forecast {
  margin: 10px;
  text-align: center;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
  background-color: #f9ecec;
}
.btn-circle:hover {
  border: 2px solid #c8d9eb;
  transition: 0.2s ease-in-out;
  background-color: #ecf2f9;
}
.celcius {
  margin-left: 5px;
}
.current-details {
  margin: 10px;
  text-align: center;
}
.current-details li {
  font-style: italic;
}
.description {
  text-transform: capitalize;
}
.projected-forecast {
  border: 2px solid #c8d9eb;
  border-radius: 15px;
  margin: 10px;
  text-align: center;
}
@media (max-width: 768px) {
  form {
    margin-bottom: 10px;
  }
  .button-location {
    margin-right: 30px;
  }

  .city {
    font-size: 30px;
  }
  .location-time {
    margin: 0 auto;
  }
  .current-temp {
    font-size: 30px;
  }
  .projected-forecast {
    margin: 2px;
    padding: 5px;
  }
  .projected-forecast li {
    font-size: 10px;
  }
}
